.container-fluid {
	margin-left: 300px;
	margin-right: 150px;
	background-color: green;
}
.display {
	width: 170px;
}

.display:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;

body {
	color: green;
}

